html{
font-family:"Trebuchet MS";
}

ul{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}

li{
  float:left;
  width:25%;
}

a:link{
  display:inline;
  color:#0000FF;
  text-decoration: none;
}

a.navBar{
  text-align:center;
  display:block;
  width:100%;
  background-color:#ccccff;
}

a.navBar:hover{
  color:#8888FF;
  background:#FFFFFF;
  text-decoration: none
}

a.navBar:link{
  color:#0000FF;
  text-decoration: none
}

a.navBar:visited{
  color:#0000FF;
  text-decoration: none
}

table{
  border-collapse:collapse;
}

td{
  height:100px;
  width:150px;
}

td.border{
  background-color:#CCCCFF;
  width:10%;
}
td.readinglist{
  right:0px;
  width:700px;
}


h1{
  font-size:200%;
}

header1
{
text-align:center;

color:darkgrey;
font-size:40px;
margin:10px;
padding:20px;
}
a.listedBook{
text-align:center;
font-size:30px;
margin:10px;
padding:20px;

}

h2{
}

div.border{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  background-color:#CCCCFF;
  width:100px;
  overflow:auto;
}

div.content{
  position:absolute;
}

.comment{
	border: 1px solid blue; 
	border-radius: 10px;
	padding: 10px;
}

div#chooseFriends{
	autoOpen: false;
	height: 300;
	width: 350;
	modal: true;
}

span#profileRecommendButton{
  background-color:#8888FF;
  font-size:200%;
  color:#0000FF;
}

span#profileRecommendButton:hover{
  background-color:#FFFFFF;
  onclick
}